<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TFM | Master in Inteligencia Artificial</title>
    <link rel="stylesheet" href="./static/styles/reset.css" />
    <link rel="stylesheet" href="./static/styles/variables.css" />
    <link rel="stylesheet" href="./static/styles/typography.css" />
    <link rel="stylesheet" href="./static/styles/layout.css" />
    <link rel="stylesheet" href="./static/styles/components.css" />
    <link rel="stylesheet" href="./static/styles/animations.css" />
    <link rel="stylesheet" href="./static/styles/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="header-content">
          <div class="logo">
            <a href="/">Master en Inteligencia Artificial (UNIR)</a>
          </div>
          <nav class="main-nav">
            <input type="checkbox" id="menu-toggle" class="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </label>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <section id="home" class="hero hero-results">
        <div class="container">
          <div class="hero-content">
            <h1 class="appear">
              <span class="line">Resultados:</span>
            </h1>

            <div class="hero-cta appear-delay-2">
              <ul class="nav-list">
                {% for file in files %}
                <li><a href="{{file}}">{{file.split('/')[-1].split('.')[0]}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
